/* We hide everything by default and then conditionally enable them by
   adding new stylesheets. This prevent a flash of content before it gets hidden. */

[aria-label="Timeline: Your Home Timeline"] {
  visibility: hidden;
}

[aria-label="Timeline: Explore"] {
  visibility: hidden;
}

[aria-label="Timeline: Trending now"] {
  visibility: hidden;
}
